.header {
  margin: 0em 3vw;
  padding-top: 2em;
  max-width: 37rem;
}
.header .line {
  line-height: 1.5em;
  font-family: Consolas, Menlo, monospace;
}
.header .prompt {
  color: #f0f0f080;
}
.header .home {
  color: inherit;
  text-decoration: none;
}
.header .snail {
  position: absolute;
  margin-top: -1.1em;
}
.header .command {
  margin: 0em -0.25em;
  border-radius: 0.25em;
  padding: 0.25em;
  background-color: #80ffc0;
  font-weight: normal;
  color: #1c1c1c;
}
.header h1 {
  display: inline;
  font-weight: normal;
  font-size: 1em;
}

.block {
  margin: 6rem 3vw;
  max-width: 37rem;
}

.sigil {
  padding-left: 1.7rem;
}
.sigil::before {
  display: block;
  float: left;
  margin: -1px 0rem -1px -1.7rem;
  border: 1px solid #f0f0f040;
  border-radius: 0.25rem;
  width: 1.2rem;
  text-align: center;
  color: #f0f0f040;
}
.sigil-command::before {
  content: "$";
}

/* colors from xterm.js */
.term-red { color: #cc0000; }
.term-green { color: #4e9a06; }
.term-yellow { color: #c4a000; }
.term-blue { color: #3465a4; }
.term-magenta { color: #75507b; }
.term-cyan { color: #06989a; }
b .term-red { color: #ef2929; }
b .term-green { color: #8ae234; }
b .term-yellow { color: #fce94f; }
b .term-blue { color: #729fcf; }
b .term-magenta { color: #ad7fa8; }
b .term-cyan { color: #34e2e2; }

pre .command, code .command {
  color: #80ffc0;
}
pre .placeholder, code .placeholder {
  color: #ffb0a0;
}
pre .control, code .control {
  border-radius: 0.25em;
  padding: 0em 0.25em;
  background-color: #e0b040;
  font-family: Source Sans Pro, sans-serif;
  font-size: 0.75em;
  color: #202020;
}

.attractive-button {
  display: inline-block;
  border: 0.1875em double #80ffc0;
  border-radius: 0.25em;
  padding: 0.3125em 0.5625em;
  background-color: #80ffc0;
  background-clip: padding-box;
  color: #1c1c1c;
  font: inherit;
  text-decoration: none;
}
.attractive-button:link, .attractive-button:visited, .attractive-button:any-link:active {
  color: #1c1c1c;
}
.attractive-button:disabled {
  border: 0.1875em solid #608070;
  background-color: #608070;
}

.footer {
  margin: 1.25rem 0rem 0rem;
  padding: 0rem 3vw 2.8125rem;
  border-top: 1px solid #f0f0f040;
  color: #f0f0f080;
  font-size: 0.75rem;
}

@media print {
  .footer span {
    display: none;
  }

  .footer:after {
    content: "Go ahead, write whatever you want down here. It's your own paper.";
  }
}

body {
  margin: 0rem;
  background-color: #202020;
  font-family: Source Sans Pro, sans-serif;
  color: #f0f0f0;
}
*:link {
  color: #8090f0;
}
*:visited {
  color: #d080f0;
}
*:any-link:active {
  color: #f08080;
}
code {
  padding: 0rem 0.25em;
  border-radius: 0.25em;
  background-color: #101010;
  font-family: Consolas, Menlo, monospace;
  color: #f0f0f0c0;
}
pre {
  font-family: Consolas, Menlo, monospace;
  color: #f0f0f0c0;
}
